<div class="deposit-container">
    <form [formGroup]="depositForm" (ngSubmit)="onSubmit()">
        <div>
            <hlm-form-field>
                <input class="w-80" hlmInput type="deposit" placeholder="Deposit Amount" formControlName="amount" />
                <hlm-hint>Enter deposit amount.</hlm-hint>
            </hlm-form-field>
        </div>
        <button type="submit" hlmBtn [disabled]="!depositForm.valid">Deposit</button>
    </form>
</div>
<div class="transaction-table-container">
    <h6>Transactions History</h6>
    <table mat-table [dataSource]="transactions" matSort>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
            <td mat-cell *matCellDef="let transaction">{{ transaction.amount }}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let transaction">{{ transaction.status }}</td>
        </ng-container>

        <!-- Timestamp Column -->
        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef>Timestamp</th>
            <td mat-cell *matCellDef="let transaction">{{ transaction.timestamp }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>