<div class="page-container">
    <section class="user-container">
        <div class="username-container">
            <a routerLink="/dashboard" routerLinkActive="active" class="text-2xl sm:text-1xl font-normal">Welcome</a>
        </div>
        <div class="footer-container">
            <a type="submit" hlmBtn (onclick)="onSubmit()" class="custom-logout-btn mt-8">Logout</a>
            <!-- <button type="submit" hlmBtn class="custom-logout-btn mt-8" (onclick)="onSubmit()" routerLink="/logout" routerLinkActive="active">Logout</button> -->
        </div>
    </section>
    
    <section class="main-container">
        <div class="hero-container">
            <div class="wallet-balance-container">
                <p-card>
                    <p class="text-3xl sm:text-1xl">
                        ₦{{ wallet?.balance }}
                    </p>
                    <p class="m-0">
                        Total Balance
                    </p>
                </p-card>
            </div>
            <!-- <div class="user-settings-container">
                Settings
            </div> -->
        </div>
        <div class="wallets">
            <div class="deposit-container">
                <!-- <h3>Deposit</h3>
                <p>Deposit your funds here.</p>
                <a routerLink="/deposit" hlmBtn class="deposit-link">Deposit</a> -->
                <deposit-card-template></deposit-card-template>
            </div>
            <div class="wallet-transfer-container">
                <!-- <h3>Transfer</h3>
                <p>Transfer your funds to another wallet.</p>
                <a routerLink="/transfer" hlmBtn class="transfer-link">Transfer</a> -->
                <transfer-card-template></transfer-card-template>
            </div>
        </div>
    </section>
</div>