<div class="transfer-container">
    <form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
        <div>
            <hlm-form-field>
                <input class="w-80" hlmInput type="transfer" placeholder="Transfer Amount" formControlName="amount" />
                <hlm-hint>Input transfer amount.</hlm-hint>
            </hlm-form-field>
        </div>
        <div>
            <hlm-form-field>
                <input class="w-80" hlmInput type="userId" placeholder="userId" formControlName="recipientUserId" />
                <hlm-hint>Enter the recipient user ID</hlm-hint>
            </hlm-form-field>
        </div>
        <button type="submit" hlmBtn [disabled]="!transferForm.valid">Transfer</button>
    </form>
</div>
<!-- Debit Transactions-->
<div class="debit-transaction-table-container">
    <h6 class="font-normal" >Debit Transactions History</h6>
    <table mat-table [dataSource]="debitTransactions" matSort>

        <!-- ReciepientId Column -->
        <ng-container matColumnDef="recipientId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Recipient ID</th>
            <td mat-cell *matCellDef="let transaction">{{ transaction.recipientId }}</td>
        </ng-container>
        
        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
            <td mat-cell *matCellDef="let transaction">{{ transaction.amount }}</td>
        </ng-container>

        <!-- Transaction Type Column -->
        <ng-container matColumnDef="transactionType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell *matCellDef="let transaction">{{ transaction.transactionType }}</td>
        </ng-container>

        <!-- Timestamp Column -->
        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef>Timestamp</th>
            <td mat-cell *matCellDef="let transaction">{{ transaction.timestamp }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #debitPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<!-- Credit Transactions -->
<div class="credit-transaction-table-container">
    <h6 class="font-normal" >Credit Transactions History</h6>
    <table mat-table [dataSource]="creditTransactions" matSort>

        <!-- ReciepientId Column -->
        <ng-container matColumnDef="recipientId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Recipient ID</th>
            <td mat-cell *matCellDef="let transaction">{{ transaction.recipientId }}</td>
        </ng-container>
        
        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
            <td mat-cell *matCellDef="let transaction">{{ transaction.amount }}</td>
        </ng-container>

        <!-- Transaction Type Column -->
        <ng-container matColumnDef="transactionType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell *matCellDef="let transaction">{{ transaction.transactionType }}</td>
        </ng-container>

        <!-- Timestamp Column -->
        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef>Timestamp</th>
            <td mat-cell *matCellDef="let transaction">{{ transaction.timestamp }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #creditPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
