<div class="page-wrapper">
  <nav class="navigation" *ngIf="showNavigation">
    <div class="left-nav">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <img src="assets/icon2.jpg" alt="Home" class="home-icon"/>
      </a>
    </div>
    <div class="right-nav">
      <div class="nav-buttons">
        <a routerLink="/signup" routerLinkActive="active" hlmBtn class="custom-signup-btn">Signup</a>
        <a routerLink="/login" routerLinkActive="active" hlmBtn class="custom-login-btn">Login</a>
      </div>

      <!-- Toggled Nav Bar -->
      <div class="nav-menu-toggle">
        <button (click)="toggleMenu()">Menu</button>
        <div class="nav-menu" [class.show]="isMenuOpen">
          <a routerLink="/signup" routerLinkActive="active" (click)="isMenuOpen = false">Signup</a>
          <a routerLink="/login" routerLinkActive="active" (click)="isMenuOpen = false">Login</a>
        </div>
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>