<div class="page-wrapper">
  <nav class="navigation">
    <div class="left-nav">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <img src="assets/metaverse.png" alt="Home" class="home-icon"/>
      </a>
    </div>
    <div class="right-nav">
      <a routerLink="/signup" routerLinkActive="active" hlmBtn class="custom-signup-btn">Signup</a>
      <a routerLink="/login" routerLinkActive="active" hlmBtn class="custom-login-btn">Login</a>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>