* {
  box-sizing: border-box;
}

:host {
  display: block;
  background-color: white; // gray background
  color: rgba(0, 0, 0, 0.718);;
}

.second-container {
  width: 95%;
  margin: 0 auto;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-container {
  width: 100%;
  margin: 0 auto;
  // border: 1px solid red;
}
  
.fourth-container {
  // flex-grow: 1;
  // display: flex;
  // justify-content: flex-start;
  // flex-direction: column;
  // padding-top: 2.3rem;
  width: 90%;
  margin: 0 auto;
  // margin-left: auto;
  // margin-right: auto;
  // padding-left: 0.5rem;
  // padding-right: 0.5rem;
  // border: 1px solid red;
}

.first-container {
  width: 95%;
  margin: 0 auto;
  background-image: url('/assets/pexels.jpg');
  background-size: cover;
  background-position: center;
  // border: 1px solid red;
  // margin-left: auto;
  // margin-right: auto;
  // padding-left: 0.5rem;
  // padding-right: 0.5rem;
  
  @media (max-width: 1024px) {
    width: 100%;
    max-width: none;

    .writeup {
      width: 100%;
    }
  }

  @media (max-width: 767px) {
    h6 { // No display of h4 in < 767px
      display: none;
    }

    .writeup { // Align the writeup at the center
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .custom-get-started-btn { // Align the get-started-button at the center
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  /* Container adjustments for smaller screens*/
  @media (max-width: 1024px) {
    min-height: auto; // Remove the minimum height
    height: auto; // Let the height adjust to content
    max-height: 100vh; // Limit the maximum height to the viewport height

    .bg-image img {
      max-height: 50vh; // Limit image height to half of viewport height
      object-fit: cover; // Ensure the image covers the area without distortion
    }

    // .first-container {
    //   padding-top: 1rem;
    //   padding-bottom: 1rem;
    // }
  
    // .lg\:mb-0 {
    //   margin-bottom: 1rem !important; // Overrides the larger screen margin
    // }
  }

  /* Center the contents and 'Get started' button for < 1024px*/
  @media (max-width: 1023px) {
    h6 { // No display of h4 in < 767px
      display: none;
    }

    .writeup {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .custom-signup-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.bg-image-container {
  margin-bottom: 2rem;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


// @media (max-width: 768px) {
//   .bg-image-container {
//     margin-top: 2rem;
//     margin-bottom: 2rem;
//   }
  
//   .bg-image {
//     height: 200px;
//   }
// }

// @media (max-width: 700px) {
//   .container > div {
//     margin-bottom: 2rem;
//   }

//   .bg-image {
//     height: auto;
//     min-height: 200px;
//   }
// }

/**Below media queries are for responsiveness for screen sizes
*/

@media (min-width: 320px) { // smallest screen sizes
  .container {
    max-width: 320px;
  }
}

@media (min-width: 475px) { // xs
  .container {
    max-width: 475px;
  }
}

@media (min-width: 640px) { // sm
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) { // md
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) { // lg
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) { // xl
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) { // 2xl
  .container {
    max-width: 1536px;
  }
}