<div class="container mx-auto h-screen flex flex-col justify-center items-center p-0">
    <header class="text-center py-8">
        <h1 class="text-4xl font-bold">Fast, safe, and simple authentication for your digital space.</h1>
    </header>

    <!-- The first image on the web page -->
    <div class="bg-image-container flex mb-8">
        <div class="w-1/2 p-6 flex items-center">
            <p class="text-lg">Effortlessly secure your accounts and access your world with just a sign-up or log-in. Experience seamless entry with our streamlined process.</p>
        </div>
        <div class="w-1/2 bg-image">
            <img src="assets/bg2.jpg" alt="background"/>
        </div>
    </div>
    
    <main class="flex-grow">
        <div class="max-w-md text-center space-y-4 mt-1">
            <div>
                <p class="text-lg">The best application for authentication, give it a try!</p>
            </div>
           </div>
    </main>

    <footer>
        <p class="text-sm text-gray-600">Built with Angular!</p>
    </footer>
</div>