<div class="container mx-auto h-screen flex flex-col justify-center items-center p-6">
    <header class="text-center py-8">
        <h1 class="text-4xl font-bold">Fast, safe, and simple authentication for your digital space.</h1>
    </header>

    <!-- The first image on the web page -->
    <div class="bg-image-container flex mb-8">
        <div class="w-1/2 p-6 flex items-center">
            <p class="text-lg">Effortlessly secure your accounts and access your world with just a sign-up or log-in. Experience seamless entry with our streamlined process.</p>
        </div>
        <div class="w-1/2 bg-image">
            <img src="assets/bg2.jpg" alt="background" class="rounded-image"/>
        </div>
    </div>

    <!-- The second image on the web page (left-aligned) -->
    <div class="bg-image-container flex mb-8">
        <div class="w-1/2 bg-image">
            <img src="assets/bg3.jpg" alt="background" class="rounded-image"/>
        </div>
        <div class="w-1/2 p-6 flex items-center">
            <p class="text-lg">Another compelling feature or benefit of your authentication system goes here. Highlight what makes your solution unique.</p>
        </div>
    </div>

    <!-- The third image on the web page (right-aligned) -->
    <div class="bg-image-container flex mb-8">
        <div class="w-1/2 p-6 flex items-center">
            <p class="text-lg">A third key feature or benefit of your system. Emphasize how it addresses user needs or solves common problems.</p>
        </div>
        <div class="w-1/2 bg-image">
            <img src="assets/bg1.jpg" alt="background" class="rounded-image"/>
        </div>
    </div>
    
    <!-- <main class="flex-grow">
        <div class="max-w-md text-center space-y-4 mt-1">
            <div>
                <p class="text-md text-gray-600">Proceed by clicking Signup/Login</p>
            </div>
        </div>
    </main> -->

    <footer>
        <p class="space-y-8 mt-16 p-16 text-gray-600">Built with Angular!</p>
    </footer>
</div>